{% block body %}

    <div class="card" style="width:400px">
        <div class="card-body">
            <p class="card-text text-center">{{ nom }} a perdu son code d'invitation pour le mariage</p>
        </div>
    </div>

{% endblock %}