{% extends 'base.html.twig' %}

{% block title %}Mariage Manon & Xavier{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/about.css') }}">
{% endblock %}

{% block body %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light masthead text-white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Accueil</h1>
        </div>
    </div>

    <div class="container">
        <p class="text-justify mt-5">
            Le <strong>6 mai 2023</strong>, Manon et Xavier se diront "<strong><i>Oui</i></strong>" ! (Enfin, normalement...)
            <br>
            <br>
            8 ans après leur rencontre, ils sont prêts à sauter le pas et à s'unir devant leurs familles et leurs amis.
            Mais avant, un petit récapitulatif s'impose.
        </p>
    </div>

<div class="container mt-5 mb-5">

    <div class="row text-center">
        <div class="col"><img src="{{ asset('assets/images/collages/wedding_collage2.png') }}" class="img-fluid" alt="Responsive image"></div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul class="timeline">
                <li>
                    <p class="font-weight-bold">La rencontre</p>
                    <p class="text-justify">
                        C'est le 31 janvier 2015, au soir, que Manon et Xavier se rencontrent pour la première fois. Ensemble,
                        ils écument les bars de Strasbourg - une grande passion que chacun exerçait jusqu'alors chacun de
                        son côté - et font connaissance. Les heures défilent et la soirée s'achève par leur premier baiser.
                        L'histoire commence !
                    </p>
                </li>
                <li>
                    <p class="font-weight-bold">L'emménagement</p>
                    <p class="text-justify">
                        En juin 2016, Manon, alors dans l'Éducation Nationale, apprend qu'elle est mutée à l'autre bout
                        de l'Alsace, dans le Sud du Haut-Rhin. Xavier habitant Freiburg-im-Breisgau, ils décident de sauter
                        le pas et d'emménager ensemble. C'est dire à quel point Manon est amoureuse, puisqu'elle accepte
                        de traverser la frontière pour s'installer en territoire allemand.
                    </p>
                </li>
                <li>
                    <p class="font-weight-bold">Le PACS</p>
                    <p class="text-justify">
                        De retour en France depuis quelques mois, les tourtereaux décident de se pacser. C'est le 25
                        octobre 2018 que le PACS est conclu... juste à temps pour bénéficier de la ristourne fiscale.
                        Encore aujourd'hui, Manon soupçonne Xavier d'avoir proposé le PACS seulement pour cela.
                        Allez savoir...

                    </p>
                </li>
                <li>
                    <p class="font-weight-bold">L'âge mûr</p>
                    <p class="text-justify">
                        En 2019, ils décident qu'il est grand temps de devenir grand et de s'endetter sur plusieurs années :
                        ils achètent un appartement ensemble. 5 pièces, il y a de quoi faire pour le futur ! Avant de remplir
                        leur cocon d'enfants, ils tentent l'expérience avec une bestiole bien plus velue qu'un enfant et
                        adoptent Sushi, qui rejoint leur doux foyer.
                    </p>
                </li>
                <li>
                    <p class="font-weight-bold">La demande en mariage</p>
                    <p class="text-justify">
                        C'est le 13 mai 2021, lors d'une escapade à Bruges, que Xavier se décide enfin à demander sa douce
                        en mariage. Manon laisse tout de même une dernière échappatoire à son cher et tendre en lui demandant,
                        avant de donner sa réponse, s'il ne se sentait pas obligé (il faut dire que ces derniers mois, elle
                        parlait beaucoup mariage...). Il répond "Non", elle dit "Oui".
                    </p>
                </li>
                <li>
                    <p class="font-weight-bold">Le bébé</p>
                    <p class="text-justify">
                        En voyant que tout se passe bien avec leur bestiole velue, et parce que faire les choses dans l'ordre,
                        c'est un peu ennuyeux, ils décident qu'avant le mariage, ce serait bien d'agrandir la famille.
                        Le ... naît ...
                    </p>
                </li>
                <li>
                    <p class="font-weight-bold">La suite</p>
                    <p class="text-justify">
                        ...
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="row text-center">
        <div class="col"><img src="{{ asset('assets/images/collages/wedding_collage1.png') }}" class="img-fluid" alt="Responsive image"></div>
    </div>

</div>
{% endblock %}
